.center{
    text-align: center;
}

.navbar-custom{
    background-color: #4cc4d2;
    
}

.nav-link:active{
    color:aqua;
}

.nav-link {
    color: #2d6f7b;
    text-transform: uppercase;
    font-weight: 600;
}

.banner {
    background-color: #2d6f7b;
    color: white;
}

.prices {
    background-color: #e8e8e8;
}

.ourcustomers {
    background-color: #e8e8e8;
}

.footer{
    background-color: #2d6f7b;
    height: 80px;
    
}

#carousel {
    width: 100%;
    height: 150px;
    background-color: #e8e8e8;
    
    overflow: visible;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}