body {
  overflow-x: hidden;
}

.center{
    text-align: center;
}

 @font-face { 
     font-family: GothamMedium; 
     src: url('./font/GothamMedium.otf'); 
} 

@font-face { 
     font-family: GothamBook; 
     src: url('./font/GothamBook.otf'); 
} 

@font-face { 
     font-family: GothamBold; 
     src: url('./font/GothamBold.otf'); 
} 

.navbar-custom{
    background-color: #4cc4d2;
    font-family: GothamBook;
    
}

.nav-link:active{
    color:aqua;
}

.nav-link {
    color: #2d6f7b;
    text-transform: uppercase;
}

.banner {
    background-image: url("img/imgbg.JPG");
    color: white;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px solid #F2F7F9;
  border-right: 1px solid #F2F7F9;

}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}


.prices {
    background-color: #e8e8e8;
}
.prices h3 {
    color:#2d6f7b;
}
.prices h5{
    margin: 0;
    padding: 0;
    color: #404040;
}

.prices h1{
    margin: 0;
    padding: 0;
    color: #404040;
    
}

.questions h5 {
    color:#2d6f7b;
}

.ourcustomers {
    background-color: #e8e8e8;
}

.ourcustomers h3 {
    color:#2d6f7b;
    
}

#carousel {
    width: 100%;
    height: 150px;
    background-color: #e8e8e8;
    
    overflow: visible;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}

.awards h3 {
    color:#2d6f7b;
}


.footer{
    background-color: #2d6f7b;
    height: 80px;
    color: white;
    border-top: 2px solid #4cc4d2;
}

.footer a{
    color: #4cc4d2;
}



